@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/site.css" rel="stylesheet" />
<div class="text-center">

	<div class="Caixa">
		<div class="displayImagens">
			<img src="imagens/marte1.webp" alt="imagen de marte" class="imagens" />
		</div>
		<div class ="paragrafos">
			<p >A imagem retrata uma nave espacial orbitando Marte, o planeta vermelho. A superfície de Marte é visível ao fundo, com suas crateras e desfiladeiros, e a atmosfera é de um vermelho intenso.</p>
		</div>
	</div>

	<div class="Caixa">
		<div class="displayImagens">
			<img src="imagens/marte3.jpg" alt="imagen de marte" class="imagens" />
		</div>
		<div class="paragrafos">
			<p>O rover Perseverance em Marte representa um marco na exploração espacial e nos oferece uma visão sem precedentes do nosso vizinho cósmico. A análise detalhada dessa imagem permite aos cientistas desvendar os segredos de Marte e avançar em nossa compreensão do universo.</p>
		</div>
	</div>

	<div class="Caixa">
		<div class="displayImagens">
			<img src="imagens/marte4.jpg" alt="imagen de marte" class="imagens" />
		</div>
		<div class="paragrafos">
			<p>Um momento espetacular e futurista: o lançamento de uma espaçonave SpaceX Starship da superfície de Marte. O planeta vermelho, com sua característica tonalidade avermelhada, serve como um pano de fundo dramático para a ascensão da nave</p>
		</div>
	</div>
	<div class="Caixa">
		<div class="displayImagens">
			<img src="imagens/image5.jpg" alt="imagen de marte" class="imagens" />
		</div>
		<div class="paragrafos">
		<p >
			Capturada pela NASA retrata um marco histórico na exploração espacial:
			o rover Perseverance em solo marciano. Essa máquina, repleta de tecnologia de ponta,
			representa a vanguarda da pesquisa científica e a busca incessante da humanidade por desvendar os segredos do universo.
		</p>
		</div>
	</div>
	<div class="Caixa">
		<div class="displayImagens">
		<img src="imagens/marte6-1.webp" alt="imagen de marte" class="imagens" />
		</div>
		<p class="paragrafos">Essa imagem nos convida a refletir sobre a vastidão do universo e a diversidade de mundos que existem além do nosso planeta. Ao contemplar a paisagem marciana, somos lembrados da nossa pequenez diante da imensidão cósmica e somos instigados a questionar sobre a possibilidade de vida em outros planetas.</p>
	</div>

</div>