@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/site.css" rel="stylesheet" />
<div class="text">

    <div id="login">
        <ul>
            <li>
                <h1>Login</h1>
                <textarea placeholder="E-mail"></textarea>
            </li>
            <li>
                <textarea placeholder="Senha"></textarea>
            </li>
            <li><button class="BtnEntrar">Entrar</button></li>
        </ul>
    </div>
    <div id="Cadastrar">
        <ul>
            <h1>Cadastrar</h1>
            <li>
                <textarea placeholder="Nome"></textarea>
            </li>
            <li>
                <textarea placeholder="idade"></textarea>
            </li>
            <li>
                <textarea placeholder="E-mail"></textarea>
            </li>
            <li>
                <textarea placeholder="Senha"></textarea>
            </li>
            <li><button class="BtnCadastrar">Cadastrar</button></li>
        </ul>
    </div>

</div>